*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; /* https://fonts.google.com/ */
}

#chat{
    position: fixed;
    width: 250px;
    height: 40px;
    bottom: 0;
    right: 20px;
    background: lemonchiffon;
    z-index: 1; /* Propiedad que nos deja manipular la profundidad de las cajas y que no se tapen unas a otras */

    color: black;
    text-align: center;
    line-height: 40px;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}

header{
    position: relative; /* Se posiciona en relación con su ubicación original, pero sigue ocupando espacio en el flujo del documento. */
    margin: 20px auto; /* Ponemos el margen en automático pero funciona así -> 'margin: top right bottom left;' o 'margin: vertical horizontal;'*/
    width: 1000px;
    height: 120px;
    /*background: #444; -> Para pruebas */
}

#logo{
    position: absolute; /* Se posiciona respecto a su contenedor más cercano con posición distinta a static y se saca del flujo normal del documento. */
    top: 30px;
    left: 30px;
    width: 200px;
    height: 60px;
    /*background: #ccc; -> Para pruebas */
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 60px; /* Para centrarlo verticalmente coloco el valor a la mitad de lo que mide el header de height */
}

.redes{
    position: absolute;
    width: 42px;
    height: 42px;
    background: #ccc;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    color: white;
}

#icono1{
    top: 42px;
    right: 120px;
    background: olive;
}

#icono2{
    top: 42px;
    right: 71px;
    background: lemonchiffon;
    color: black;
}

#icono3{
    top: 42px;
    right: 19px;
    background: #C3752F;
}

nav{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 48px;
}

.botones{
    float: left;
    width: 196px;
    margin: 0 2px;
    height: 48px;
    background: #0B2F37;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    color: white;
    transition: background-color 0.3s ease;
}

a .botones:hover{
    background-color: #1a5b68;
}

a .botones:active{
    background: #C3752F;
}

#top{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 192px;
}

#top ul{
    width: 1010px;
    height: 192px;
    /*background: rgba(255, 0, 0, .5); -> Pruebas para el ver en el f12*/

}

#top ul li{
    float: left;
    width: 326px;
    height: 192px;
    /*background: #aaa; -> Para pruebas */
    margin-right: 10px;
    text-align: center;
}

#top ul li img{
    border-radius: 100%;
    height: 100px;
}

#top ul li h1{
    font-family: 'Teko', sans-serif;
}

#top ul li p{
    font-size: 14px;
    margin: 10px;
}

section{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 453px;
    /*background: #aaa;*/
}

aside#izq{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 453px;
    /*background: #333;*/

}

aside#izq ul li{
    background: #aaa;
    padding: 10px;
    margin: 5px;
    list-style: square;
    list-style-position: inside;
    /*list-style-image: url(img/pinred.png); -> Prueba de como puedo adjuntar una imagen en el CSS */
}

aside#izq ul li a{
    text-decoration: none; /* Quito la línea que viene por defecto debajo de Link */
}

article{
    position: absolute;
    left: 200px;
    top: 0;
    width: 600px;
    height: 453px;
    /*background: #666; -> Para pruebas */
}

article h1{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    margin: 5px 20px;
}

article p {
    margin: 5px 20px;
    font-size: 14px;
    text-align: justify;
}

article p img{
    float: left; /* Hará que el texto se coloque en el lado derecho automaticamente */
    margin-right: 20px;
}

aside#der{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 453px;
    /*background: #333;*/

}

aside#der h1{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(140, 2, 20, 2);
    color: white;
    margin-bottom: 15px;

}

aside#der input{
    padding: 10px;
    margin: 5px 0;
    width: 176px;

}

/* Aquí puedo meter iconos dentro del imput, cargando uan imagen y ajustándola en el mismo input:
aside#der input[type="text"]{
    background: url();
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
*/

footer{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 70px;
    background: #0B2F37;
    text-align: center;
    line-height: 70px;
    color: white;

}